[Unit]
Description=Postfix Mail Transport Agent
After=syslog.target network.target
Conflicts=sendmail.service exim.service

[Service]
Type=forking
PIDFile=/var/spool/postfix/pid/master.pid
EnvironmentFile=-/etc/sysconfig/network

RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX AF_NETLINK
SystemCallFilter=@system-service
SystemCallArchitectures=native
LockPersonality=true
MemoryDenyWriteExecute=true
RestrictRealtime=true
RestrictNamespaces=true
SupplementaryGroups=sasl

# Filesystem
ProtectHome=true
# /etc/postfix needs to be writable to refresh hashes
# on /etc/postfix/aliases and friends
ReadWritePaths=/var/spool/postfix /var/lib/postfix /etc/postfix /srv/mail /var/mail
# If it's used, we need to talk to it, but it's optional
ReadWritePaths=-/var/lib/sasl2
ReadWritePaths=-/run/saslauthd
PrivateTmp=true
PrivateDevices=true

# Kernel/system protection
ProtectSystem=strict
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
ProtectClock=true
ProtectHostname=true

# Privilege escalation
NoNewPrivileges=true
RestrictSUIDSGID=true

# Capabilities
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_DAC_READ_SEARCH CAP_SETUID CAP_SETGID

ExecStartPre=-/etc/postfix/aliasesdb
ExecStart=/usr/sbin/postfix start
ExecReload=/usr/sbin/postfix reload
ExecStop=/usr/sbin/postfix stop

[Install]
WantedBy=multi-user.target
